
.card-swap-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(5%, 20%);
  transform-origin: bottom right;
  perspective: 900px;
  overflow: visible;
}

.card {
  position: absolute;
  top: 15%;
  left: 25%;
  border-radius: 12px;
  ;
  background: bg-purple-500/10;

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media (max-width: 768px) {
  .card-swap-container {
    transform: scale(0.40) translate(20%, 20%);
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.45) translate(0%, 00%);
  }
  .card {
    top: 5%;
    left: 5%;
  }
}
